<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
</head>
<div style="font-family: 'Roboto', sans-serif; font-size: 14pt; color: black;">
	<div class="brd_bar top_bar" style="width: 100%; margin: auto; background-color: black; height: 25pt;"></div>
	<br>
	<img class="headicon" style="width: 200px; margin: auto; display: block;"
		src="https://app.jobnimbus.com/api1/files/lhgsj2ati2bltxqjckawpim" alt="" />
	<br />
	<br>
	<span>
		<p>
			Hi {{JobPrimaryContactFirstName}},
			<br><br>
			Thanks so much for scheduling an inspection! You are in our schedule on: {{TaskDateStart}} at:
			{{TaskTimeStart}}
			<br><br>
			Warmly,
		</p>
	</span>
	<div class="signblock brd" style="display: flex; align-items: center; width: 250px; height:fit-content">
		<img class="signimg"
			style="width: 86px; height: 86px; border-right: 1px solid black; padding: 2px; padding-right: 10px;"
			src="https://app.jobnimbus.com/api1/files/lhf449hsls6o78uukb2krt9" alt="" />
		<div class="signtext brd"
			style="width: 55%; height: 100%; padding: 2px; margin-left: 6px; display: flex; align-items: center;">
			<p>
				Barbara Fisher
				<br>
				Office Manager
				<br>
				(916) 276-8632
			</p>
		</div>
	</div>
	<br>
	<div style="width: 100%; margin: auto; background-color: black; display: flex;">
		<p style="width: 60%; margin: auto; color: white; font-size: small; text-align: center; padding: 3pt;">
			951 Washington Blvd
			<br>
			Suite 519
			<br>
			Roseville, CA
			<br>
			(916) 276-8632
			<br>
			<a style="color: white; text-decoration: none;" href="https://www.triarkroofing.com">triarkroofing.com</a>
		</p>
	</div>
</div>

</html>